@page "/introPage"

<h3>IntroPage</h3>

<h1 color="red">“Welcome to Itahari International College”. </h1>

<img src="Images/College.jpg" alt="clg"/>

<p>This is the college located in Itahari.</p>

@code {

}
