@page "/profilePage"

<h1>Profile</h1>


<img src="Images/STUDENT.jpg" alt=""/>

<h4>@studentName he is a good boy</h4>
<h4>@courseName My fav subject.</h4>


@code {
    public string studentName = "Bibek Budhathoki";
    public string courseName = ".NET MAUI Hybrid Training";
    public string batchYear = "2025";

}
